<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      class="h-100" lang="en">
<head>
    <div th:replace="blocks/head :: head"></div>
    <title>Users</title>
</head>

<body class="d-flex flex-column h-100 bg-dark">
<header th:replace="blocks/navbar :: navbar"></header>

<main class="px-5 py-5">
    <div class="container">
        <div class="text-start">
            <a href="/console/users" class="text-white lead">Users</a>
        </div>
        <div class="d-flex justify-content-start flex-grow-1 py-4">
            <table id="getUser" class="table table-dark table-bordered"></table>
        </div>
        <div class="text-end">
            <div class="btn-group" role="group">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Update user
                    </button>

                    <form id="updateForm" class="dropdown-menu dropdown-menu-end p-4" style="min-width: 300px">
                        <div class="mb-3">
                            <input type="text" name="username" class="form-control" id="floatingInput"
                                   placeholder="Username">
                            <label for="floatingInput" class="form-label">User name</label>
                        </div>
                        <div class="mb-3">
                            <input type="password" name="password" class="form-control" id="floatingPassword"
                                   placeholder="Password">
                            <label for="floatingPassword" class="form-label">Password</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="ROLE_USER" id="flexCheckDefault"
                                   checked>
                            <label class="form-check-label" for="flexCheckDefault">
                                ROLE_USER
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="ROLE_ADMIN" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                ROLE_ADMIN
                            </label>
                        </div>
                        <div class="pt-2 d-grid">
                            <button type="submit" class="btn btn-primary" id="submitButton">Update user
                            </button>
                        </div>
                    </form>
                </div>
                <button type="button" onclick="deleteUser()" class="btn btn-outline-danger">Delete user</button>
            </div>
        </div>
    </div>
</main>

<footer class="mt-auto text-white-50" th:insert="blocks/footer :: footer"></footer>

</div>
<script>
    const userId = [[${userId}]];
</script>
<script type="text/javascript" th:src="@{/js/getUserById.js}"></script>
<script type="text/javascript" th:src="@{/js/updateUser.js}"></script>
<script type="text/javascript" th:src="@{/js/deleteUser.js}"></script>

<div at-magnifier-wrapper="">
    <div class="at-theme-light">
        <div class="at-base notranslate" translate="no">
            <div class="Z1-AJ" style="top: 0px; left: 0px;"></div>
        </div>
    </div>
</div>
</body>
</html>