<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      class="h-100" lang="en">
<head>
    <div th:replace="blocks/head :: head"></div>
    <title>Main page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body class="d-flex flex-column h-100 bg-dark" id="homePage">
<header th:replace="blocks/navbar :: navbar"></header>
<main class="px-5 py-5">
    <div class="container text-center text-white">
        <h1>Some header.</h1>
        <p class="lead">Some info</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Some link</a>
        </p>
    </div>
</main>

<footer th:replace="blocks/footer :: footer"></footer>

<script type="text/javascript" th:src="@{/js/changeActiveButton.js}"></script>

<div at-magnifier-wrapper="">
    <div class="at-theme-light">
        <div class="at-base notranslate" translate="no">
            <div class="Z1-AJ" style="top: 0px; left: 0px;"></div>
        </div>
    </div>
</div>
</body>
</html>