<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en" class="h-100">
<head>
    <div th:replace="blocks/head :: head"></div>
    <title>Users</title>
</head>

<body class="d-flex flex-column h-100 bg-dark">
<header th:replace="blocks/navbar :: navbar"></header>

<main class="px-5 py-5">
    <div class="container">
        <div class="row py-2">
            <div class="col dropdown text-end">
                <button class="btn btn-outline-light dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Add user
                </button>

                <form id="addForm" class="dropdown-menu dropdown-menu-end p-4" style="min-width: 300px">
                    <div class="mb-3">
                        <input type="text" name="username" class="form-control" id="floatingInput"
                               placeholder="Username">
                        <label for="floatingInput" class="form-label">User name</label>
                    </div>
                    <div class="mb-3">
                        <input type="password" name="password" class="form-control" id="floatingPassword"
                               placeholder="Password">
                        <label for="floatingPassword" class="form-label">Password</label>
                    </div>
                    <div class="pt-2 d-grid">
                        <button type="submit" class="btn btn-primary" id="submitButton">Add user
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <table id="table" class="table table-dark table-hover table-bordered"></table>
    </div>
</main>

<footer th:replace="blocks/footer :: footer"></footer>

<script type="text/javascript" th:src="@{/js/getUsers.js}"></script>
<script type="text/javascript" th:src="@{/js/addUser.js}"></script>

<div at-magnifier-wrapper="">
    <div class="at-theme-light">
        <div class="at-base notranslate" translate="no">
            <div class="Z1-AJ" style="top: 0px; left: 0px;"></div>
        </div>
    </div>
</div>
</body>
</html>