<div th:fragment="login-button" class="float-right ms-3">
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-sm btn-secondary fw-bold py-1 px-0 btn-light text-dark fixed-button"
                   value="Sign Out"/></form>
    </div>
    <div sec:authorize="isAnonymous()">
        <a class="btn btn-sm btn-secondary fw-bold py-1 btn-light text-dark fixed-button"
           th:href="@{/login}">Login</a>
    </div>
</div>