<header th:fragment="navbar">
    <div class="navbar navbar-dark py-3">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img src="/images/logo-white.svg" alt="" width="28" height="30"
                     class="d-inline-block align-text-top">
                <strong>NameProject</strong>
            </a>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link fw-bold py-1 px-0" href="/console">Console</a>
                <a class="nav-link fw-bold py-1 px-0" href="/">Home</a>
                <a class="nav-link fw-bold py-1 px-0" href="#">Features</a>
                <a class="nav-link fw-bold py-1 px-0" href="/contacts">Contacts</a>
                <div th:fragment="loginButton" class="float-right ms-3">
                    <div sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit"
                                   class="btn btn-sm btn-secondary fw-bold py-1 px-0 btn-light text-dark fixed-button"
                                   value="Sign Out"/></form>
                    </div>
                    <div sec:authorize="isAnonymous()">
                        <a class="btn btn-sm btn-secondary fw-bold py-1 btn-light text-dark fixed-button"
                           th:href="@{/login}">Login</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>